<div class="container">
    <div class="form">
        <div class="form__section">
            <label for="name">Votre nom :</label>
            <input type="text" formControlName="name" id="name"/>
        </div>
        <div class="form__section">
            <label for="email">Votre adresse mail :</label>
            <input type="email" formControlName="email" id="email"/>
        </div>
        <div class="form__section">
            <label for="message">Votre message :</label>
            <textarea name="message" id="message" cols="50" rows="5" formControlName="message"></textarea>
        </div>
        <button type="submit">Envoyer</button>
    </div>
</div>